@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.homepage-bgimage {
  /* background: url("./assets/background2.jpg"); */
  background-color: rgb(154, 202, 192);
  /* height: 100%; */
  background-repeat: no-repeat;
  background-size: cover;
  width: "100vw";
  height: "100vh";
}
